.header {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  text-decoration: none;
  color: #393e46 !important;
  font-size: 70px;

 
}
.footer {
  margin-bottom: 10px;
}

