
.search {
padding: 5px;
border-radius: 5px;
width: 35%;
max-width: 100%;
}
.dictionary section {
    background: radial-gradient(circle at 10% 20%, rgb(226, 37, 37) 0%, rgb(211, 49, 49) 82.8%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    max-width: 100%;
    width: 60%;
margin: 20px auto;

}