
.search {
padding: 5px;
border-radius: 5px;
width: 35%;
max-width: 100%;
}
.dictionary section {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    max-width: 100%;
    width: 60%;
margin: 20px auto;

}
.example {
    opacity: 0.6;
}